.header {
  margin-top: 82px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__title {
    font-weight: 700;
    font-size: 38px;
    letter-spacing: 12px;
    color: #fff;
  }
}
